@model LocalGourmet.PL.ViewModels.ReviewsCreateVM

@{
    ViewBag.Title = "Add Review";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Review</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Restaurant</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Review.RestaurantID, new SelectList(
                       Model.Restaurants,
                       "ID",
                       "Name"))
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Review.ReviewerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.ReviewerName, new { htmlAttributes = new { @class = "form-control", @required="required" } })
                    @Html.ValidationMessageFor(model => model.Review.ReviewerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Review.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Review.FoodRating, htmlAttributes: new { @min = "0", @max = "5", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.FoodRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.FoodRating, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Review.ServiceRating, htmlAttributes: new { @min = "0", @max = "5", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.ServiceRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.ServiceRating, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Review.AtmosphereRating, htmlAttributes: new { @min = "0", @max = "5", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.AtmosphereRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.AtmosphereRating, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Review.PriceRating, htmlAttributes: new { @min = "0", @max = "5", @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Review.PriceRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.PriceRating, "", new { @class = "text-danger" })
                </div>
            </div>
    
    
            <div class="form-group" style="float:right; margin-right: 5px;">
                <input type="submit" value="Create" class="btn btn-default btn-toolbar" />
                <a href=@($"/Reviews/Index") class="btn btn-default btn-toolbar">Back to List</a>
            </div>
            <br />
            <br />
        </div>
    }
    
</body>
</html>
