@model LocalGourmet.BLL.Models.Review

@{
    ViewBag.Title = "Delete Review";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this review?</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                Restaurant Name
            </dt>
    
            <dd>
                @Model.GetRestaurant().Name
            </dd>
    
            <dt>
                Reviewer Name
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReviewerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                Food Rating
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FoodRating)
            </dd>
    
            <dt>
                Service Rating
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceRating)
            </dd>
    
            <dt>
                Atmosphere Rating
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AtmosphereRating)
            </dd>
    
            <dt>
                Price Rating
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PriceRating)
            </dd>

            <dt>
                Overall Rating
            </dt>
    
            <dd>
                @Model.GetRating()
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color" style="float:right;">
                <input type="submit" value="Delete" class="btn btn-default btn-toolbar" />
                <a href=@($"/Reviews/Index") class="btn btn-default btn-toolbar">Back to List</a>
            </div>
            <br />
            <br />
        }
    </div>
</body>
</html>
