@model LocalGourmet.PL.ViewModels.RestaurantDetailsVM

@{
    ViewBag.Title = Model.Restaurant.Name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>
                @Html.DisplayFor(model => model.Restaurant.Name)
        </h1>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Cuisine)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Cuisine)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Specialty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Specialty)
            </dd>

            <dt>
                Phone Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
            </dd>

            <dt>
                Web Address
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.WebAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Hours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Hours)
            </dd>

            <dt>
                Number of Reviews
            </dt>

            <dd>
                @Model.Restaurant.Reviews.Count
            </dd>

            <dt>
                Average Rating
            </dt>

            <dd>
                @Model.Restaurant.GetAvgRating()
            </dd>

        </dl>
    </div>

    <div style="float:right;">
        <a href=@($"/Reviews/Create/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Add Review</a>
        <a href=@($"/Restaurants/Edit/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Edit</a>
        <a href=@($"/Restaurants/Delete/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Delete</a>
        <a href=@($"/Restaurants/Index") class="btn btn-default btn-toolbar">Back to List</a>
    </div>
    <br />
    <br />
    
    @*Table of reviews for the restaurant*@
    <table class="table">
        <tr>
            <th>
                Reviewer Name
            </th>
            <th>
                Comment
            </th>
            <th>
                Overall Rating (0-5)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Reviews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @item.GetRating()
            </td>
            <td>
                <div style="min-width: 200px;">
                    <a href=@($"/Reviews/Details/{item.ID}") class="btn btn-default btn-toolbar">Details</a>
                    <a href=@($"/Reviews/Edit/{item.ID}") class="btn btn-default btn-toolbar">Edit</a>
                    <a href=@($"/Reviews/Delete/{item.ID}") class="btn btn-default btn-toolbar">Delete</a>
                </div>
            </td>
        </tr>
        }
    </table>

    <br />
    <hr />
    <div style="float:right;">
        <a href=@($"/Reviews/Create/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Add Review</a>
        <a href=@($"/Restaurants/Edit/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Edit</a>
        <a href=@($"/Restaurants/Delete/{Model.Restaurant.ID}") class="btn btn-default btn-toolbar">Delete</a>
        <a href=@($"/Restaurants/Index") class="btn btn-default btn-toolbar">Back to List</a>
    </div>
    <br />
    <br />
</body>
</html>
