@model IEnumerable<LocalGourmet.BLL.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        function SearchByName() {
            $.ajax({
                method: "GET",
                url: "Restaurants/Index/",
                data: { sort: document.getElementsByName("sort")[0].value }
            })
        }
    </script>
</head>
<body>
    <h1>Restaurants</h1>
    <hr />
    <div>
        <span>@Html.ActionLink("Add new Restaurant2", "Create", "Restaurants", null, new { @class = "btn btn-default btn-toolbar" })</span>
        <a href=@($"/Restaurants/Create") class="btn btn-default btn-toolbar">Add new Restaurant</a>
        <span>@Html.ActionLink("Sort by Name", "Index", "Restaurants", new { sort = "byName" }, new { @class = "btn btn-default btn-toolbar" })</span>
        <span>@Html.ActionLink("Sort by Rating", "Index", "Restaurants", new { sort = "byRating" }, new { @class = "btn btn-default btn-toolbar" })</span>
        <span>@Html.ActionLink("Sort by Cuisine", "Index", "Restaurants", new { sort = "byCuisine" }, new { @class = "btn btn-default btn-toolbar" })</span>
        <span>@Html.ActionLink("Top Three", "Index", "Restaurants", new { sort = "topThree" }, new { @class = "btn btn-default btn-toolbar" })</span>
        
        <form id="searchForm" onsubmit="SearchByName()" style="display:inline;">
            <input type="submit" value="Search by Name" class="btn btn-default btn-toolbar">
            <input type="text" name="sort" placeholder="keywords...">
        </form>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th style="width:100px;">
                Number of Reviews
            </th>
            <th>
                Average Rating
            </th>
            <th></th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviews.Count)
            </td>
            <td>
                @item.GetAvgRating()
            </td>
            <td> 
                <div style="min-width:210px">
                    <a style="margin-bottom: 3px; width:100px;" href=@($"/Reviews/Create/{item.ID}") class="btn btn-default btn-toolbar">Add Review</a>
                    <a style="margin-bottom: 3px; width:100px;" href=@($"/Restaurants/Details/{item.ID}") class="btn btn-default btn-toolbar">Details</a>
                    <a style="margin-bottom: 3px; width:100px;"  href=@($"/Restaurants/Edit/{item.ID}") class="btn btn-default btn-toolbar">Edit</a>
                    <a style="margin-bottom: 3px; width:100px;" href=@($"/Restaurants/Delete/{item.ID}") class="btn btn-default btn-toolbar">Delete</a>
                </div>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
