@model IEnumerable<LocalGourmet.BLL.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <div>
        @*@if (Request.IsAuthenticated)*@
            <a href=@($"/Restaurants/Create") class="btn btn-default btn-toolbar">Add new Restaurant</a>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                #_Reviews
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviews.Count)
            </td>
            <td>
                <div style="min-width: 200px;">
                    <a href=@($"/Restaurants/Details/{item.ID}") class="btn btn-default btn-toolbar">Details</a>
                    @*@if(Request.IsAuthenticated)*@
                        <a href=@($"/Restaurants/Edit/{item.ID}") class="btn btn-default btn-toolbar">Edit</a>
                        <a href=@($"/Restaurants/Delete/{item.ID}") class="btn btn-default btn-toolbar">Delete</a>
                </div>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
