@{
    ViewBag.Title = "Home";
}

<br />
<div class="panel panel-default">
    <div class="panel-body" style="border: 3px black solid; background-size: contain; background: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        <div class="form-group row">
            <div class="col-lg-8 pad">
                <div>
                    <a href="@($"/Restaurants/Details/7")"><img id="img1" class="Page img" style="height: 500px; width: 700px; display:block;" src="~/Content/colum1.jpg" alt="First slide"></a>
                    <a href="@($"/Restaurants/Details/7")"><img id="img2" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/colum2.jpg" alt="Second slide"></a>
                    <a href="@($"/Restaurants/Details/7")"><img id="img3" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/colum3.jpg" alt="Third slide"></a>
                    <a href="@($"/Restaurants/Details/7")"><img id="img4" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/colum4.jpg" alt="Fourth slide"></a>
                    <a href="@($"/Restaurants/Details/5")"><img id="img5" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/mdf1.jpg" alt="Fifth slide"></a>
                    <a href="@($"/Restaurants/Details/5")"><img id="img6" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/mdf2.jpg" alt="Sixth slide"></a>
                    <a href="@($"/Restaurants/Details/5")"><img id="img7" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/mdf3.jpg" alt="Seventh slide"></a>
                    <a href="@($"/Restaurants/Details/1")"><img id="img8" class="Page img" style="height: 500px; width: 700px; display:none;" src="~/Content/sub1.jpg" alt="Eighth slide"></a>
                </div>
            </div>
            <div class="col-lg-4 pad">
                <div>
                    <button class="btn btn-default btn-danger tablink" onclick="openPage(event, 'img1')" style="height:61px; width:350px; margin-bottom: 2px;">Columbia Restaurant 1</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img2')" style="height:61px; width:350px; margin-bottom: 2px;">Columbia Restaurant 2</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img3')" style="height:61px; width:350px; margin-bottom: 2px;">Columbia Restaurant 3</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img4')" style="height:61px; width:350px; margin-bottom: 2px;">Columbia Restaurant 4</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img5')" style="height:61px; width:350px; margin-bottom: 2px;">Mini Doughnut Factory 1</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img6')" style="height:61px; width:350px; margin-bottom: 2px;">Mini Doughnut Factory 2</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img7')" style="height:61px; width:350px; margin-bottom: 2px;">Mini Doughnut Factory 3</button>
                    <button class="btn btn-default tablink" onclick="openPage(event, 'img8')" style="height:61px; width:350px;">Subway</button>
                </div>
            </div>
        </div>
    </div>
</div>


